<head>
  <meta charset="utf-8">
  <title>About Page</title>
</head>
<body>
  <h1>{{screamIt titlePage}}</h1>
  <p><a href= "/">Home</a></p>
  <p><a href= "/about">About</a></p>
  <p>Some text here</p>
</body>
